[Unit]
Description=Public 9Router Status Dashboard
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
DynamicUser=yes
WorkingDirectory=/opt/9router-status
ExecStart=/usr/bin/node /opt/9router-status/app.js
EnvironmentFile=/etc/dashboard-temon.env
Restart=always
RestartSec=3
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
RestrictSUIDSGID=yes
LockPersonality=yes

[Install]
WantedBy=multi-user.target
